@font-face {
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/Cinzel-Regular.ttf') format('ttf');
}

body {
   background-image: url('./images/joo.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-repeat: repeat;
   margin: 0;
   min-height: 100vh;
}

img {
    max-width: 100%;
}

a {
    color: #202652;
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    text-decoration: underline;
}

.header {
    width: 100vw;
}
.header-wrapper {
    background-color: #202652;
    color: #ffffff;
    font-family: 'Cinzel', serif;
    font-size: 3em;
    padding: 11px;
    text-align: center;
}
.inlineblock {
    display: inline-block;
    vertical-align: middle;
}
.w-50 {
    width: 50%;
}
.image-spacing {
    margin: 20px;
}
.wrapper {
    display: block;
}
.video {
    display: block;
    margin: 0 auto;
    width: 35%;
}
@media (max-width:680px) {
    .video {
        width: 90%;
    }
}
.button {
    display: block;
    width: fit-content;
    background-color: #202652;
    color: #ffffff;
    padding: 15px;
    margin: 0 auto;

}
.button:hover {
    text-decoration: none;
    transform: scale(1.1);
}
.text {
    text-align:

}
@media (min-width:680px) {
    .video50 {
        display: block;
        width: 50%;
    }
}
.videoin {
    display: block;
    margin: 0 auto;
    width: 59%;
}
.text-wrapper {
    background-color: #21275280;
    box-shadow: 0px 0px 6px 3px #21275280;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 20px;
}
.etext {
    color: #ffffff;
    text-align: center;
}
.h1 {
    display: block;
    color: #212752;
    font-family: 'Cinzel', serif;
    font-size: large;
    text-align: center;
}
.menubtn {
    background-color: #fdf9f0;
    border: none;
    color: #202652;
    cursor: pointer;
    font-size: 16px;
    padding: 18px;
}
.menubtn:hover, .menubtn:focus {
    background-color: #aad6ea;
}
.dropmenu {
    position: relative;
    display: inline-block;
}
.menu-content {
    background-color: #ffffff;
    box-shadow: 12px 11px 16px 1px #21275275;
    display: block;
    min-width: 100px;
    position: absolute;
    z-index: 1;
}
.menu-contenta{
    color: black;
    display: block;
    padding: 12px 16px;
    text-decoration: none;
}
.menu-content:hover {
    background-color: #aad6ea;
}
.show {
    display: block;
}
function myFunction() {
    document.getElementById("mymenu").classList.toggle("show");
}
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
      }
    }
    }
}
